@charset'utf-8';
body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
    color: #333;
    .container {
        width: 1080px;
        margin: 0 auto;
    }
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
    img {
        vertical-align: middle;
        border: none;
    }
    .m-icons {
        display: inline-block;
        background-image: url(../images/yp-icons.7c45b9c9.png);
    }
    .h-icons {
        position: absolute;
    }
    .m-icons-dropdown {
        width: 30px;
        height: 30px;
        background-position: 0 -1678px;
    }
    .m-icons-app {
        width: 30px;
        height: 30px;
        background-position: 0 -964px;
    }
    .m-line {
        display: inline-block;
        height: 16px;
        vertical-align: middle;
        border-right: 1px solid #e7e7e7;
    }
    .youpin {
        width: 1080px;
        height: 100%;
        margin: 0 auto;
        background-color: #fff;
        a {
            z-index: 105;
            color: #e7e7e7;
        }
        .m-site-top {
            height: 48px;
            background: #333;
            font-size: 14px;
            position: relative;
            z-index: 105;
            color: #e7e7e7;
            .site-item {
                position: relative;
                margin-left: 5px;
                text-align: center;
                .m-no-login {
                    margin-right: 8px;
                    height: 48px;
                    line-height: 48px;
                    a {
                        margin-left: 8px;
                    }
                }
            }
            .m-line {
                border-color: #666;
                margin: 17px 3px 0 6px;
            }
            .m-help {
                position: relative;
                text-align: center;
                height: 48px;
                line-height: 48px;
                margin-right: 8px;
                margin-left: 11px;
            }
            .h-icon-con {
                display: block;
                height: 48px;
                line-height: 48px;
                overflow: hidden;
            }
            .m-download .h-icon-con {
                text-align: left;
                left: 0;
                padding-left: 30px;
            }
            .h-app-icon {
                left: 0;
                top: 9px;
            }
            .h-down-icon {
                top: 10px;
                right: 0;
            }
            .m-clauses-con {
                position: relative;
                text-align: center;
                padding-right: 40px;
                padding-left: 11px;
                .m-clauses {
                    height: 48px;
                    line-height: 48px;
                    text-align: center;
                }
                .site-item-nav {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 48px;
                    height: 0;
                    opacity: 1;
                    display: block;
                    overflow: hidden;
                    -webkit-box-shadow: 0 3px 28px rgba(0, 0, 0, .1);
                    box-shadow: 0 3px 28px rgba(0, 0, 0, .1);
                    -webkit-transition: all .3s cubic-bezier(0, 1, .5, 1);
                    -o-transition: all .3s cubic-bezier(0, 1, .5, 1);
                    transition: all .3s cubic-bezier(0, 1, .5, 1);
                    background: #fff;
                    .site-nav li {
                        &:hover {
                            background: #845f3f;
                            z-index: 99;
                            a {
                                color: #fff;
                                display: block;
                                font-size: 14px;
                            }
                        }
                    }
                    // .hidden {
                    //     height: 0;
                    //     opacity: 0;
                    // }
                }
                .h-down-icon {
                    right: 10px;
                }
                &:hover {
                    .site-item-nav {
                        height: 70px;
                        opacity: 1;
                    }
                }
            }
            .site-nav {
                background: #fff;
                li {
                    height: 35px;
                    line-height: 35px;
                    padding: 0 10px;
                    a {
                        display: block;
                        font-size: 14px;
                        color: #666;
                    }
                }
            }
        }
        .m-header {
            position: relative;
            height: 51px;
            z-index: 101;
            padding-top: 20px;
            margin-bottom: 5px;
            background-color: #fff;
            .m-icons-dropdown {
                width: 30px;
                height: 30px;
                background-position: 0 -1678px;
            }
            .m-header-top {
                position: relative;
                padding-right: 40px;
                z-index: 9;
                .m-logo {
                    float: left;
                    width: 123px;
                    height: 51px;
                    background: url(../images/logo@2x.cf8cc6a8.png) 50% no-repeat;
                    background-size: 100%;
                }
                .nav-part {
                    float: left;
                    margin-left: 10px;
                    margin-right: 70px;
                    width: 60px;
                    height: 51px;
                    line-height: 51px;
                    .nav-arrow-container {
                        display: none;
                        padding: 0 5px;
                        vertical-align: middle;
                        width: 48px;
                        height: 24px;
                        line-height: 24px;
                        border: 1px solid #efefef;
                        font-size: 14px;
                        .h-down-icon {
                            top: 12px;
                        }
                    }
                }
            }
            .nav-container-box {
                position: absolute;
                display: none;
                top: 100%;
                width: 100%;
                .nav-container {
                    position: absolute;
                    height: 358px;
                    background-color: #9f8052;
                    width: 221px;
                    z-index: 100;
                    .nav-list {
                        height: 358px;
                        overflow-y: hidden;
                        overflow-x: hidden;
                    }
                    .nav-detail.header {
                        max-height: calc(100vh - 51px);
                        overflow-y: auto;
                        overflow-x: hidden;
                    }
                    .nav-detail {
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 221px;
                        width: 857px;
                        min-height: 316px;
                        height: auto;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        background-color: #fff;
                        border: 1px solid #eee;
                        -webkit-transition: opacity 2s ease;
                        -o-transition: opacity 2s ease;
                        transition: opacity 2s ease;
                        z-index: 1000;
                    }
                }
            }
            .tab-list {
                float: left;
                width: 420px;
                overflow: hidden;
                li.tab-item {
                    float: left;
                    margin-right: 32px;
                    height: 51px;
                    line-height: 57px;
                    font-size: 18px;
                    color: #666;
                    -webkit-transition: color .2s ease;
                    -o-transition: color .2s ease;
                    transition: color .2s ease;
                }
            }
            .m-card-wrap {
                position: absolute;
                right: 6px;
                top: 18px;
                .m-card-mini {
                    position: relative;
                    width: 30px;
                    .m-icons-cart-hover {
                        width: 30px;
                        height: 30px;
                        background-position: 0 -1202px;
                    }
                }
            }
            .m-search {
                float: right;
                width: 296px;
                .search-form {
                    position: relative;
                    width: 246px;
                    padding-left: 35px;
                    padding-top: 9px;
                    height: 32px;
                    border-bottom: 1px solid #e7e7e7;
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    transition: all .3s;
                    .search-icon {
                        position: absolute;
                        left: -4px;
                        top: 10px;
                        display: block;
                        z-index: 2;
                        text-align: center;
                        outline: 0;
                        font-size: 14px;
                    }
                    .m-icons-search-hover {
                        width: 30px;
                        height: 30px;
                        background-position: 0 -1474px;
                    }
                    .search-input-con {
                        z-index: 1;
                        width: 245px;
                        height: 32px;
                        line-height: 32px;
                        input {
                            width: 100%;
                            border: none;
                            color: #333;
                            font-size: 14px;
                            outline: 0;
                            -webkit-transition: all .2s;
                            -o-transition: all .2s;
                            transition: all .2s;
                        }
                    }
                }
            }
        }
        .youpin_banner {
            // width: 100%;
            height: 360px;
            position: relative;
            background-color: #fff;
            .nav-container {
                position: relative;
                .nav-list {
                    background-color: #9f8052;
                    width: 220px;
                    height: 347px;
                    position: absolute;
                    float: left;
                    padding-top: 13px;
                    li {
                        width: 160px;
                        height: 33.2px;
                        padding: 0 30px;
                        font-size: 14px;
                        line-height: 33px;
                        span {
                            color: #fff;
                        }
                    }
                }
                .nav-detail {
                    z-index: 99;
                    position: absolute;
                    left: 220px;
                    top: 0;
                    background-color: #fff;
                    width: 860px;
                    min-height: 316px;
                    padding: 20px 0;
                    border: 1px solid #eee;
                    transition: opacity 2s ease;
                    display: none;
                    div {
                        .cate-name {
                            font-size: 18px;
                            font-weight: 700;
                            color: #805e3f;
                            padding-left: 33px;
                            margin-bottom: 11px;
                        }
                        .sub-nav-row {
                            padding-left: 33px;
                            .sub-nav-item-row {
                                .category-2-item {
                                    display: block;
                                    float: left;
                                    padding-right: 34px;
                                    .name {
                                        color: #333;
                                        font-weight: 700;
                                        width: 56px;
                                        line-height: 48px;
                                        // padding: 15px 0;
                                        white-space: nowrap;
                                        overflow-x: hidden;
                                        overflow-y: hidden;
                                        -o-text-overflow: ellipsis;
                                        text-overflow: ellipsis;
                                        text-align: justify;
                                        text-align-last: justify;
                                    }
                                    .icon {
                                        margin-left: 5px;
                                        width: 6px;
                                        height: 12px;
                                    }
                                }
                                .category-3-list {
                                    display: block;
                                    float: left;
                                    padding-top: 15px;
                                    padding-bottom: 15px;
                                    // display: inline-block;
                                    // display: flex;
                                    -ms-flex-wrap: wrap;
                                    flex-wrap: wrap;
                                    width: 673px;
                                    border-bottom: 1px dashed #e6e6e6;
                                    &:last-child {
                                        border-bottom: none;
                                    }
                                    .category-3-item {
                                        // float: left;
                                        margin-right: 15px;
                                        white-space: nowrap;
                                        color: #666;
                                    }
                                    .hot {
                                        z-index: 100;
                                        color: #cb7601;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .swiper-container {
                width: 860px;
                height: 360px;
                float: right;
                background-color: chocolate;
                overflow: hidden;
                position: relative;
                .swiper-wrapper {
                    width: 6880px;
                    height: 360px;
                    .swiper-slide {
                        width: 860px;
                        height: 360px;
                        float: left;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .swiper-pagination {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 10px;
                    width: 180px;
                    height: 30px;
                    margin: 0 auto;
                    z-index: 9;
                    text-align: center;
                    .swiper-pagination-bullet {
                        display: block;
                        float: left;
                        width: 10px;
                        height: 10px;
                        margin: 13px 6px;
                        border-radius: 5px;
                        background-color: #fff;
                    }
                    .swiper-pagination-bullet-active {
                        display: block;
                        float: left;
                        width: 8px;
                        height: 8px;
                        margin: 11px 4px;
                        border: 4px solid #ccc;
                        border-radius: 50%;
                        background-color: #a7936e;
                    }
                }
            }
            .swiper-button-prev,
            .swiper-button-next {
                width: 60px;
                height: 60px;
                font-size: 35px;
                background-color: #666;
                opacity: 0.5;
                border-radius: 50%;
            }
        }
        .routine {
            width: 100%;
            height: 190px;
            border-bottom: #e7e7e7 1px solid;
            background-color: #fff;
            li {
                float: left;
                width: 130px;
                height: 190px;
                position: relative;
                margin-right: 107px;
                &:nth-last-of-type(1) {
                    margin-right: 0;
                }
                img {
                    display: block;
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                p {
                    position: absolute;
                    width: 130px;
                    height: 16px;
                    left: 0;
                    bottom: 16px;
                    text-align: center;
                }
            }
        }
        .index_zhongchou {
            width: 100%;
            // height: 253px;
            background-color: #fff;
            h3 {
                padding-top: 13px;
                line-height: 75px;
                font-size: 26px;
                color: #333;
                span {
                    font-size: 12px;
                    padding-top: 36px;
                    padding-left: 6px;
                    color: #999999;
                }
            }
            .zu_list {
                width: 100%;
                .home-good-item {
                    float: left;
                    width: 266px;
                    height: 245px;
                    margin-left: 5px;
                    .item-inner {
                        position: relative;
                        width: 266px;
                        height: 210px;
                        background: #f3f0e9;
                        .pro-text {
                            position: relative;
                            z-index: 6;
                            padding-top: 15px;
                            padding-left: 15px;
                            .zu_name {
                                font-size: 16px;
                                color: #333;
                                font-size: 20px;
                                line-height: 24px;
                            }
                            .zu_intuoduce {
                                width: 180px;
                                color: #999;
                                font-size: 16px;
                                line-height: 20px;
                                height: 20px;
                                margin-top: 8px;
                                overflow: hidden;
                                white-space: nowrap;
                                -o-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                            }
                            .zu_price {
                                font-size: 20px;
                                line-height: 24px;
                                height: 24px;
                                overflow: hidden;
                                color: #a92112;
                                margin-top: 11px;
                                .qian {
                                    font-size: 11px;
                                    vertical-align: top;
                                    margin-right: 5px;
                                }
                                .price {
                                    font-size: 20px;
                                    line-height: 24px;
                                }
                                .qi {
                                    // padding-top: 8px;
                                    font-size: 11px;
                                }
                            }
                        }
                        img {
                            position: absolute;
                            right: 15px;
                            bottom: 10px;
                            width: 130px;
                            height: 130px;
                            z-index: 4;
                        }
                    }
                    .m-progress-wrap-con {
                        width: 100%;
                        height: 43px;
                        .m-bar-con {
                            width: 100%;
                            height: 3px;
                            overflow: hidden;
                            .m-bar {
                                height: 3px;
                                background: url(https://www.xiaomiyoupin.com/static3/media/bar.64e546f1.jpg) no-repeat;
                            }
                        }
                    }
                    .m-progress-info {
                        // width: 150px;
                        height: 40px;
                        float: left;
                        font-size: 14px;
                        color: #999;
                        .m-suppory {
                            font-size: 14px;
                            color: #999;
                            .sup-num {
                                font-size: 16px;
                                color: #c00000;
                                margin-right: 6px;
                            }
                        }
                        .common-tag-txt {
                            display: inline-block;
                            padding: 0 6px;
                            color: #fff;
                            font-size: 13px;
                            line-height: 18px;
                            background-color: rgb(254, 207, 0);
                        }
                    }
                    .m-present {
                        div {
                            float: right;
                            margin-right: 15px;
                            color: #a92112;
                            font-size: 18px;
                            .m-num-flag {
                                font-size: 11px;
                            }
                        }
                    }
                    &:first-child {
                        float: left;
                        width: 525px;
                        // padding-right: 10px;
                        .item-inner {
                            width: 510px;
                            padding-left: 15px;
                            height: 210px;
                            position: relative;
                            background-color: #f9f3e9;
                            overflow: hidden;
                            img {
                                position: absolute;
                                right: 15px;
                                bottom: 10px;
                                width: 215px;
                                height: 215px;
                                z-index: 4;
                            }
                        }
                    }
                }
            }
        }
        .p-trap-wrap {
            background-color: #fff;
            padding-top: 40px;
            .m-icons {
                display: inline-block;
                background-image: none;
            }
            .container {
                width: 1080px;
                margin: 0 auto;
                .h-sec-top {
                    position: relative;
                    z-index: 99;
                    margin-bottom: 20px;
                    .trap-top-main {
                        .h-subTit {
                            float: left;
                            .miao {
                                display: block;
                                float: left;
                                color: #333;
                                font-size: 28px;
                                font-weight: 400;
                            }
                            .timestr {
                                display: block;
                                float: left;
                                margin-left: 12px;
                                img {
                                    display: inline-block;
                                    width: 18px;
                                    height: 18px;
                                    vertical-align: -15%;
                                }
                                span {
                                    display: inline-block;
                                    // float: left;
                                    margin-left: 3px;
                                    font-size: 18px;
                                    line-height: 38px;
                                    color: #a92112;
                                }
                            }
                        }
                        .countdown {
                            height: 37px;
                            margin-left: 6px;
                            position: relative;
                            top: 12px;
                            float: left;
                            .h-countdown-wrap {
                                .time-item-home {
                                    display: inline-block;
                                    width: 23px;
                                    height: 23px;
                                    line-height: 23px;
                                    margin: 0 3px;
                                    color: #fff;
                                    text-align: center;
                                    font-size: 15px;
                                    background: #b04337;
                                }
                                .m-countdown-dot-home {
                                    display: inline-block;
                                    font-size: 15px;
                                    color: #b04337;
                                }
                            }
                        }
                    }
                    .h-more {
                        position: absolute;
                        right: 0;
                        top: 6px;
                        height: 30px;
                        color: #999;
                        cursor: pointer;
                        span {
                            position: relative;
                            bottom: 9px;
                            font-size: 14px;
                            .more-icon {
                                height: 30px;
                                width: 30px;
                            }
                            .m-icons-more {
                                width: 30px;
                                height: 30px;
                                background-position: 0 -1134px;
                            }
                        }
                    }
                }
                .swiperone {
                    position: relative;
                    overflow: hidden;
                    margin: 0 auto;
                    z-index: 2;
                    .swiper-wrapper {
                        position: relative;
                        width: 266px;
                        height: 375px;
                        z-index: 3;
                        display: flex;
                        -webkit-box-sizing: content-box;
                        box-sizing: content-box;
                        .swiper-slide {
                            // flex-shrink: 0;
                            width: 266.25px;
                            height: 375px;
                            position: relative;
                            .m-goods-item-container {
                                position: relative;
                                float: left;
                                width: 266px;
                                margin-left: 5px;
                                text-align: center;
                                background: #fff;
                                -webkit-transition: all .4s;
                                -o-transition: all .4s;
                                transition: all .4s;
                                cursor: pointer;
                                &:first-child {
                                    margin-left: 0px;
                                }
                                .bigtrap-img-tag-container {
                                    width: 266px;
                                    height: 266px;
                                    position: relative;
                                    .small-item-img {
                                        display: block;
                                        width: 100%;
                                        text-align: center;
                                        overflow: hidden;
                                        background: #f8f8f8;
                                        .m-product-image-container {
                                            overflow: hidden;
                                            .img-container {
                                                overflow: hidden;
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                                .bigtrap-box {
                                    background: #faf6ef;
                                    padding-top: 13px;
                                    padding-bottom: 15px;
                                    .pro-info {
                                        color: #333;
                                        font-size: 19px;
                                        line-height: 23px;
                                        height: 23px;
                                        margin-top: 0;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        -o-text-overflow: ellipsis;
                                        text-overflow: ellipsis;
                                    }
                                    .pro-price {
                                        margin-top: 11px;
                                        margin-bottom: 0;
                                        height: 26px;
                                        line-height: 26px;
                                        color: #a92112;
                                        .pro-unit {
                                            font-size: 15px;
                                        }
                                        .m-num {
                                            font-size: 22px;
                                        }
                                        .pro-flag {
                                            font-size: 12px;
                                        }
                                    }
                                    .market-price {
                                        text-decoration: line-through;
                                        color: #333;
                                        margin-left: 5px;
                                        .pro-unit {
                                            font-size: 9px;
                                        }
                                        .m-num {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                        .f1 {
                            float: left;
                        }
                    }
                }
            }
        }
        .h-new-sec {
            background-color: #fff;
            padding-top: 40px;
            padding-bottom: 28px;
            .m-icons {
                display: inline-block;
                background-image: none;
            }
            .container {
                width: 1080px;
                margin: 0 auto;
                .h-sec-top {
                    position: relative;
                    z-index: 99;
                    margin-bottom: 20px;
                    .h-subTit {
                        color: #333;
                        font-size: 28px;
                        font-weight: 400;
                        span {
                            margin-left: 12px;
                            font-size: 14px;
                            color: #999;
                        }
                    }
                    .h-more {
                        position: absolute;
                        right: 0;
                        top: 6px;
                        height: 30px;
                        color: #999;
                        cursor: pointer
                    }
                }
                .swipertwo {
                    position: relative;
                    overflow: hidden;
                    margin: 0 auto;
                    z-index: 2;
                    .swiper-wrapper {
                        position: relative;
                        width: 266px;
                        height: 375px;
                        z-index: 3;
                        display: flex;
                        -webkit-box-sizing: content-box;
                        box-sizing: content-box;
                        .swiper-slide {
                            // flex-shrink: 0;
                            width: 266.25px;
                            height: 375;
                            position: relative;
                            .m-goods-item-container {
                                position: relative;
                                float: left;
                                width: 266px;
                                margin-left: 5px;
                                text-align: center;
                                background: #fff;
                                -webkit-transition: all .4s;
                                -o-transition: all .4s;
                                transition: all .4s;
                                cursor: pointer;
                                &:first-child {
                                    margin-left: 0px;
                                }
                                .bigtrap-img-tag-container {
                                    width: 266px;
                                    height: 266px;
                                    position: relative;
                                    .small-item-img {
                                        display: block;
                                        width: 100%;
                                        text-align: center;
                                        overflow: hidden;
                                        background: #f8f8f8;
                                        .m-product-image-container {
                                            overflow: hidden;
                                            .img-container {
                                                overflow: hidden;
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                                .bigtrap-box {
                                    background: #faf6ef;
                                    padding-top: 13px;
                                    padding-bottom: 15px;
                                    .pro-info {
                                        color: #333;
                                        font-size: 19px;
                                        line-height: 23px;
                                        height: 23px;
                                        margin-top: 0;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        -o-text-overflow: ellipsis;
                                        text-overflow: ellipsis;
                                    }
                                    .pro-desc {
                                        color: #666;
                                        font-size: 14px;
                                        line-height: 18px;
                                        height: 18px;
                                        margin-top: 8px;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        -o-text-overflow: ellipsis;
                                        text-overflow: ellipsis;
                                    }
                                    .pro-price {
                                        margin-top: 11px;
                                        margin-bottom: 0;
                                        height: 26px;
                                        line-height: 26px;
                                        color: #a92112;
                                        .pro-unit {
                                            font-size: 15px;
                                        }
                                        .m-num {
                                            font-size: 22px;
                                        }
                                        .pro-flag {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                        .f1 {
                            float: left;
                        }
                    }
                }
            }
        }
        .h-category-sec {
            background-color: #fff;
            margin-top: 50px;
            .container {
                width: 1080px;
                margin: 0 auto;
                .h-sec-top {
                    position: relative;
                    z-index: 99;
                    margin-bottom: 20px;
                    .h-subTit {
                        color: #333;
                        font-size: 28px;
                        font-weight: 400;
                        span {
                            margin-left: 12px;
                            font-size: 14px;
                            color: #999;
                        }
                    }
                }
                .pro-item-category {
                    width: 264px;
                    padding-bottom: 0;
                    margin-bottom: 5px;
                    border: 1px solid #e7e7e7;
                    background: none;
                }
                .m-product-list {
                    .m-goods-item-container {
                        width: 262px;
                        // height: 349px;
                        position: relative;
                        float: left;
                        margin-left: 4px;
                        text-align: center;
                        background: #fff;
                        -webkit-transition: all .4s;
                        -o-transition: all .4s;
                        transition: all .4s;
                        cursor: pointer;
                        .category-img-container {
                            width: 100%;
                            .product-img {
                                width: 100%;
                                height: 198px;
                                overflow: hidden;
                                .m-product-image-container {
                                    overflow: hidden;
                                    .img-container {
                                        overflow: hidden;
                                        display: inline-block;
                                        img {
                                            vertical-align: middle;
                                            border: none;
                                        }
                                    }
                                }
                                .pro-desc {
                                    color: #845f3f;
                                    font-size: 16px;
                                    line-height: 20px;
                                    height: 20px;
                                    margin-top: 0;
                                }
                            }
                            .pro-desc {
                                width: 255px;
                                color: #845f3f;
                                font-size: 16px;
                                line-height: 20px;
                                height: 20px;
                                margin-top: 0;
                                overflow: hidden;
                                white-space: nowrap;
                                -o-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                            }
                        }
                        .common-tag {
                            display: inline-block;
                            height: 20px;
                            margin-left: 8px;
                        }
                        .m-goods-pro-tag-con {
                            position: absolute;
                            padding: 3px;
                            left: 8px;
                            top: 8px;
                            width: 16px;
                            line-height: 18px;
                            font-size: 15px;
                            text-align: center;
                            word-wrap: break-word;
                            border-radius: 4px;
                            border: 1px solid #9f8052;
                            background-color: transparent;
                            color: #9f8052;
                        }
                        .category-box {
                            margin-top: 18px;
                            padding: 13px 0 10px;
                            background: #f8f8f8;
                            .m-goods-common-tag-con {
                                text-align: center;
                                height: 20px;
                                padding-top: 2px;
                                padding-bottom: 2px;
                                width: 100%;
                                overflow: hidden;
                                .common-tag-text {
                                    padding: 0 6px;
                                    color: #fff;
                                    font-size: 14px;
                                    line-height: 20px;
                                    border-radius: 2px;
                                    vertical-align: bottom;
                                }
                            }
                            .pro-info {
                                color: #333;
                                margin-top: 10px;
                                font-size: 18px;
                                line-height: 22px;
                                height: 22px;
                                overflow: hidden;
                                white-space: nowrap;
                                -o-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                            }
                        }
                        &:hover {
                            -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
                            box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
                            -webkit-transform: translate3d(0, -2px, 0);
                            transform: translate3d(0, -2px, 0);
                        }
                        &:nth-of-type(4n+1) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .m-fixedBar {
            position: fixed;
            top: 220px;
            right: 10px;
            z-index: 999;
            width: 71px;
            padding: 0 5px;
            background: #fff;
            -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, .1);
            box-shadow: 0 0 18px rgba(0, 0, 0, .1);
            .fixed-pop {
                position: absolute;
                left: -144px;
                top: 0;
                display: none;
                padding-right: 20px;
                .m-icons {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                }
            }
            .fixed-service-pop {
                width: 230px;
                left: -244px;
                .pop-inner {
                    padding: 10px 18px;
                    border: 1px solid #dfdfdf;
                    background: #fff;
                    .info-title {
                        margin-top: 8px;
                        color: #333;
                        font-size: 12px;
                    }
                    .info-phone {
                        margin-top: 15px;
                        color: #845f3f;
                        font-size: 20px;
                    }
                    .info-day {
                        margin-top: 1px;
                        color: #666;
                        font-size: 12px;
                    }
                    .info-des {
                        margin-top: 18px;
                        color: #333;
                        font-size: 12px;
                    }
                    .info-phone {
                        margin-top: 15px;
                        color: #845f3f;
                        font-size: 20px;
                    }
                    .info-day {
                        margin-top: 1px;
                        color: #666;
                        font-size: 12px;
                    }
                }
                .m-icons-arrow-right {
                    width: 6px;
                    height: 12px;
                    background-position: 0 -38px;
                }
            }
            .fixed-gift-pop {
                height: 328px;
                overflow: hidden;
                left: -226px;
                .gift-bg {
                    width: 190px;
                    height: 152px;
                    margin-bottom: 20px;
                    background: url(https://www.xiaomiyoupin.com/static3/media/gift-gd.3f999fde.png) 50% no-repeat;
                    background-size: 100%;
                }
                .qr-code {
                    padding: 8px;
                    border: 1px solid #e7e7e7;
                }
                .m-icons-arrow-right {
                    width: 6px;
                    height: 12px;
                    background-position: 0 -38px;
                }
            }
            .fixed-wx-pop {
                width: 210px;
                left: -224px;
                .m-icons-arrow-right {
                    width: 6px;
                    height: 12px;
                    background-position: 0 -38px;
                }
            }
            .pop-inner {
                padding: 10px;
                border: 1px solid #dfdfdf;
                background: #fff;
            }
            .qr-code {
                display: block;
                width: 88px;
                height: 88px;
                margin: 0 auto 10px;
            }
            li {
                padding: 10px;
                font-size: 12px;
                text-align: center;
                border-bottom: 1px solid #e7e7e7;
                cursor: pointer;
                position: relative;
                .m-icons {
                    display: inline-block;
                    background-image: url(../images/yp-icons.7c45b9c9.png);
                }
                .m-icons-service-fixed {
                    width: 30px;
                    height: 30px;
                    background-position: 0 -1644px;
                }
                .m-icons-download {
                    width: 30px;
                    height: 30px;
                    background-position: 0 -1270px;
                }
                .fixed-down-pop {
                    width: 130px;
                    overflow: hidden;
                    .m-icons-arrow-right {
                        width: 6px;
                        height: 12px;
                        background-position: 0 -38px;
                    }
                }
                .m-icons-gift {
                    width: 30px;
                    height: 30px;
                    background-position: 0 -794px;
                }
                .m-icons-wx-chat {
                    width: 30px;
                    height: 30px;
                    background-position: 0 -998px;
                }
                .m-icons-top {
                    width: 30px;
                    height: 30px;
                    background-position: 0 -1304px;
                }
                &:hover {
                    .fixed-pop {
                        display: block;
                    }
                }
            }
        }
        .m-footer {
            margin-top: 60px;
            padding: 45px 0;
            height: 45px;
            line-height: 23px;
            border-top: 1px solid #e7e7e7;
            background-color: #fff;
            color: #666;
            .m-f-logo img {
                width: 123px;
                height: 45px;
                margin-right: 25px;
            }
            .f-info {
                position: relative;
                padding-right: 138px;
                font-size: 12px;
            }
            .f-icons {
                position: absolute;
                top: 4px;
                right: 0;
                padding-left: 14px;
                img {
                    width: 100px;
                }
            }
            .footer-item {
                span {
                    margin-right: 5px;
                }
                a {
                    color: #666;
                    margin-right: 8px;
                }
                img {
                    display: inline-block;
                }
            }
        }
    }
    .layout-layout-element {
        display: none;
        position: fixed;
        font-size: 14px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background: rgba(0, 0, 0, .7);
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        .color-gold {
            color: #9f8052;
        }
    }
    .layout-horizontal-vertical {
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-animation: layout-act .5s cubic-bezier(0, 1, .5, 1);
        animation: layout-act .5s cubic-bezier(0, 1, .5, 1);
        .close {
            position: absolute;
            right: 20px;
            top: 20px;
            .m-icons-close-hover {
                width: 13px;
                height: 13px;
                background-position: 0 -135px;
            }
        }
        .agreement-container {
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            padding: 50px 40px 40px;
            width: 370px;
            background: #fff;
            .title {
                text-align: center;
                font-size: 18px;
                margin-bottom: 30px;
            }
            .content {
                margin-bottom: 30px;
                .agreement-container .content a {
                    color: #9f8052;
                }
            }
            .buttonlist {
                text-align: center;
                .button {
                    display: inline-block;
                    border-radius: 2px;
                    text-align: center;
                    color: #845f3f;
                    border: 1px solid #845f3f;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 0 6px;
                    -webkit-transition: all .5s cubic-bezier(0, 1, .5, 1);
                    -o-transition: all .5s cubic-bezier(0, 1, .5, 1);
                    transition: all .5s cubic-bezier(0, 1, .5, 1);
                    width: 170px;
                    height: 43px;
                    line-height: 41px;
                    font-size: 18px;
                    margin-left: 10px;
                }
                &:first-child {
                    margin-left: 0;
                }
                .agree {
                    color: #fff;
                    background-color: #845f3f;
                    border-color: #845f3f;
                    &:hover {
                        opacity: 0.5;
                    }
                }
                .reject:hover {
                    background-color: #845f3f;
                }
            }
        }
    }
}